<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
</head>
<body >
    <nav><header class="full-header h-14 px-5 mb-6">
    <section class="clickable-header flex items-center" onclick$={handleClickHeader}>
        <section class="title-container flex items-center justify-between">
            <img src="/assets/media/text-colored-logo.svg" alt="Logo"/>
        </section>
        <ul class="sub-buttons justify-end flex gap-4 flex-1 text-neutral-700">
            <li>Home</li>
            <li>About us</li>
            <li>Partners</li>
            <li>Contact us</li>
        </ul>
    </section>
    <p class="hamburger-menu" onclick$={handleClick}>
        <LuAlignJustify/>
    </p>
    <style></style>
</header></nav>
    <main class="pt-6"> 
        <header>
            <h1></h1>
            <p></p>
        </header>

        <article>
            
        </article>
    </main>

    <footer><footer>
    <section class="upper-footer">
        <section class="logo-wrapper">
            <a href="/">
                <img src="/assets/media/text-logo.svg" class="custom-max-w-smaller" alt="fix local logo" width="152" height="29"/>
            </a>
            <p>FixLocal aims to empower South African communities to solve real-world problems.</p>
        </section>
        <ul class="lists-wrapper">
            <li>
                <a class="hover:text-slate-400 cursor-pointer" href="/">
                    Home
                </a>
            </li>
            <li>
                <a class="hover:text-slate-400 cursor-pointer" href="/About-us">
                    About us
                </a>
            </li>
            <li>
                <a class="hover:text-slate-400 cursor-pointer">
                    Partners
                </a>
            </li>
            <li>
                <a class="hover:text-slate-400 cursor-pointer">
                    Contact us
                </a>
            </li>
            <li>
                <a class="hover:text-slate-400 cursor-pointer" href="/Terms-and-Conditions">
                    Terms and Conditions
                </a>
            </li>
        </ul>
        <section class="lists-wrapper">
            <ul class="lists">
                
                    <li key="" class="first-letter:capitalize hover:text-slate-400">
                        <a>
                            Electricity
                        </a>
                    </li>
                
                    <li key="" class="first-letter:capitalize hover:text-slate-400">
                        <a>
                            Environment
                        </a>
                    </li>
                
                    <li key="" class="first-letter:capitalize hover:text-slate-400">
                        <a>
                            Health
                        </a>
                    </li>
                
                    <li key="" class="first-letter:capitalize hover:text-slate-400">
                        <a>
                            Parks and Recreation
                        </a>
                    </li>
                
                    <li key="" class="first-letter:capitalize hover:text-slate-400">
                        <a>
                            Roads, Transport and Traffic
                        </a>
                    </li>
                
                    <li key="" class="first-letter:capitalize hover:text-slate-400">
                        <a>
                            Safety and Security
                        </a>
                    </li>
                
                    <li key="" class="first-letter:capitalize hover:text-slate-400">
                        <a>
                            Storm Water and Flooding
                        </a>
                    </li>
                
                    <li key="" class="first-letter:capitalize hover:text-slate-400">
                        <a>
                            Water and Sanitation
                        </a>
                    </li>
                
            </ul>
        </section>
        <section class="lists">
            <strong>Connect with us</strong>
            <section class="social-media-wrapper">
                <a>
                    <LuFacebook class="social"/>
                </a>
                <a>
                    <LuYoutube class="social"/>
                </a>
            </section>
        </section>
    </section>
    <section class="lower-footer">
        Copyright 2024 &copy; fixlocal.org
    </section>
</footer></footer>
</body>
</html>
